@model LoginCustom.Models.Utilizador

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <form asp-action="Index">
                <label class="form-label" asp-for="Username"></label>
                <input class="form-control" type="text" asp-for="Username">
                <span class="text-danger d-block" asp-validation-for="Username"></span>
                <label class="form-label mt-2" asp-for="Password"></label>
                <input class="form-control" name="password" type="password" asp-for="Password">
                <span class="text-danger d-block" asp-validation-for="Password"></span>
                <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-primary" type="submit">Entrar</button>
                    <a class="btn btn-secondary" asp-controller="Registo" asp-action="Index">Registar</a>
                </div>
            </form>
        </div>
    </div>
</div>
